body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  padding: 0 40px;
}

.content {
  min-height: calc(100vh - 240px - 64px);
}

.card-image img{
  height: 400px;
  object-fit: cover;
}

.card-image .card-title{
  width: 100%;
}

.movies-block{
  margin-top: 30px;
}

.brand-logo img{
  height: 30px;
  margin-top: 18px;
}

nav .brand-logo{
  height: 100%;
}

.radio-block label{
  margin-right: 30px;
}